body{
    color:#40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size:200%;
}
p{
    line-height: 2;
}
h1{
    color: #66BFBF;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
}
h2{
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-weight:normal;
    padding-bottom: 10px;
}
h3{
    color:#11999E;
    font-family: 'Montserrat', sans-serif;
}
hr{
    border:dotted #abb9b9 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
.pro{
    text-decoration: underline;
}
.intro{
    width: 30%;
    margin: auto;
}
.contact-message{
    width:40%;
    margin: 40px auto 60px;
}
.top-container{
    background-color: #EAF6F6;
    position: relative;
    padding-top: 100px;
}
.top-cloud{
    position: absolute;
    top: 40px;
    right:300px;
}
.montain{
    margin-bottom: -8px;
}
.bottom-cloud{
    position: absolute;
    left: 250px;
    bottom: 300px;
}
.middle-container{
    margin: 100px 0;
}
.skill-row{
    width:50%;
    margin: 100px auto 100px auto; 
    text-align: left;
}
.webdev-img{
    width:25%;
    float: left;
    margin-right: 20px;
    position: relative;
    top: 60px;
}
.controller-img{
    width:25%;
    float: right;
    margin-left: 20px;
    position: relative;
    top: 50px;
    right: 15px;
}
.btn-contact {
    background: #66BFBF;
    background-image: -webkit-linear-gradient(top, #66BFBF, #2B7474);
    background-image: -moz-linear-gradient(top, #66BFBF, #2B7474);
    background-image: -ms-linear-gradient(top, #66BFBF, #2B7474);
    background-image: -o-linear-gradient(top, #66BFBF, #2B7474);
    background-image: -webkit-gradient(to bottom, #66BFBF, #2B7474);
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 7px;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 25px;
    font-weight: 100;
    padding: 10px;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .btn-contact:hover {
    border: solid #4C5A6E 1px;
    background: #348181;
    background-image: -webkit-linear-gradient(top, #348181, #6A8D8D);
    background-image: -moz-linear-gradient(top, #348181, #6A8D8D);
    background-image: -ms-linear-gradient(top, #348181, #6A8D8D);
    background-image: -o-linear-gradient(top, #348181, #6A8D8D);
    background-image: -webkit-gradient(to bottom, #348181, #6A8D8D);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 7px;
    text-decoration: none;
 }
.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;
}
.footer-link{
    margin:10px;
    text-decoration: none;
    color: #408486;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}
.footer-link:hover{
    color:#d2e2f8;
}
.copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}


